.title {
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 2.1rem;
}

@media screen and (max-width: 780px) {
	.title {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 540px) {
	.title {
		font-size: 1.5rem;
	}
}
